* {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: center;
  background-color: rgb(210, 210, 210);
}

.pageHeader {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0px;
  left:0px;
  right: 0px;
  height: 75px;
  max-height: 75px;
  text-align: center;
  padding-top: 10px;
  background-color: red;
}

header {
  display: flex;
  justify-content: center;
}

header > img {
  width: 150px;
}

header > a {
  display: flex;
  height: 150px;
  max-width: 150px;
  position: absolute;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 30px;  
  width: fit-content;
  height: 75px;
  padding-top: 38px;
}

.icon > img {
  width: 30vw;
  max-width: 520px;
}

.banner {
  position: absolute;
  z-index: 0;
  padding-top: 75px;
  min-height: 150px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: fit-content;
  margin-top: 165px;
  padding: 25px;
  padding-top: 250px;
  /* background-color: yellow; */
}

.subContainer {
  display: flex;
  justify-content: space-around;
  padding 30vw;
  background-color:blue;
}

.locations {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgb(255, 0, 255);
}

.people {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgba(0, 255, 255, 0.506);
}

/*  */

.alandmarkobjects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
  background-color: rgb(255, 0, 255);
}

.acitizenobjects {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgba(0, 255, 255, 0.506);
}

/*  */

.blandmarkobjects {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgb(255, 0, 255);
}

.bcitizenobjects {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgba(0, 255, 255, 0.506);
}

/*  */

.jlandmarkobjects {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgb(255, 0, 255);
}

.jcitizenobjects {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgba(0, 255, 255, 0.506);
}

/*  */

.slandmarkobjects {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgb(255, 0, 255);
}

.scitizenobjects {
  display: flex;
  justify-content: center;
  width: 40vw;
  background-color: rgba(0, 255, 255, 0.506);
}